
	<div class="walltweet">
		<table border=0 cellpadding=2>
			<tr>
				<td>Your tweet:</td>
				<td><textarea id="tweet_text" rows="2" cols="70"></textarea>
				</td>
				<td><input type="submit" id="tweet_submit" value="Tweet!">
				</td>
			</tr>
		</table>
	</div>
	<br>
	<div id='tweet_list'></div>
	<script src="wall-01.js" language="JavaScript"
		type="application/javascript"></script>
	<script language="JavaScript"
		type="application/javascript">window.onload = main;</script>
